.grid_wrapper {
  display: grid;
  grid-template-columns: auto 1600px auto;
  padding: 5px;
  align-items: center;
  column-gap: 10px;
}

.grid_title {  
  padding: 10px;
  text-align: left;
}

.grid_editor {
  display: grid;
  grid-template-columns: 150px 250px auto; /* literal, kana, definition */
  align-content: start;
  padding: 5px;
  /*outline: 1px dashed gray;*/
}

.picker {
  align-content: start;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
}

.grid_lit {
  display: grid;
  grid-template-columns: 96%; /* literal only */
}

.grid_kana {
  display: grid;
  grid-template-columns: 49% 49%; /* hiragana, katakana */
}

.grid_def {
  display: grid;
  grid-template-columns: 320px 100px 180px auto; /* meaning, id, equivalents, examples */
  /*grid-template-columns: 320px 180px auto;*/ /* meaning, equivalents, examples */
  /*border: 1px solid red;*/
}

.grid_equi {
  grid-template-columns: 125px 150px; /* equivalent text, plus/minus*/
  display: grid;
  align-content: start;
  /*border: 1px solid red;*/
}

.grid_exam {
  grid-template-columns: 150px 28px 150px 150px 100px auto; /* source, dropdown, filename, display, contributor, plus/minus*/
  display: grid;
  align-content: start;
  /*border: 1px solid green;*/
}

.grid_header {
  display: grid;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  height: 16px;
}

.little_button {
  width: 25px;
  height: 25px;
}

.norm {
  width: 100px;
  height: 100%;
}

.center {
  text-align: center;
}

.dropdownContent {
  display: none;
  position: fixed;
  background-color: #222222;
  min-width: 160px;
  z-index: 1;
  margin: 8px;
  border: 4px solid black;
}

.dropdownContent a {
  display: block;
  padding: 2px 8px;
}

.pick_link {
  font-size: 10px;
}

.modified_label {
  display:none;
}
