/* 
======================================================================================================
Element  Stuff
======================================================================================================
*/

body {
  background-color: #303030;
  color: #d1d1d1;
  font-family: 'Lato', sans-serif;
  font-size: 12px;  
}

input[type=text] {
  background-color: #000000;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  padding: 5px 5px;
  color: #d1d1d1;
  width: 100%;
}

input[type=button]:active {            
  transform: translate(2px, 1px);
}

input[type=button] {
  background-color: #29abe0;
  color: white;
  margin: 0px 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  line-height: 80%;
}

img {
  display:block;
  max-width:100%;
  max-height:100%;
  margin-left: auto;
  margin-right: auto;
}

/* override Chrome's input resizing */
input, input:before, input:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* 
======================================================================================================
Link Behavior
======================================================================================================
*/

a {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: black;
}

/* 
======================================================================================================
Class  Stuff
======================================================================================================
*/

.grid_box {
  display: grid;
  align-content: start;
}

.picker {
  align-content: start;
  font-family: "Inconsolata", monospace;
  font-size: 12px;
  padding: 5px;
  border: 1px solid black;
}

.normal_button {
  /* still used by "New" and "Download" buttons */
  width: 100px;
  height: 25px;
}


/* 
======================================================================================================
Popup Stuff
======================================================================================================
*/

.blackOverlay {
  display:none;
  background:rgba(0,0,0,.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}

.popup {
  font-family: 'Lato', sans-serif;
  display:none;
  background:#555555;
  position:fixed;
  top:10%;
  left:50%;
  width:400px;
  height:400px;
  z-index:10;
  border:10px solid #808080;
}

.publisher_list_popup {
  display: none;
  position: fixed;
  background-color: #222222;  
  min-width: 160px;
  z-index: 1;
  margin: 8px;
  border: 4px solid black;
}

.publisher_list_popup a {
  display: block;
  padding: 2px 8px;
}

.publisher_link {
  font-size: 10px;
}


