body {
  background-color: #303030;
  color: #d1d1d1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;  
}

h1, h3, p {
  font-family: Arial, Helvetica, sans-serif;
}

input[type=text] {
  background-color: #000000;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  padding: 5px 5px;
  color: #d1d1d1;
}

input[type=button]:active {            
  transform: translate(2px, 1px);
}

input[type=button] {
  background-color: #046dbb;
  color: white;
  padding: 4px 8px;
  margin: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%; 
  background-color: #202020;
  margin-bottom: 10px;
}

table.inner {
  border-collapse: collapse;
  width: 100%; 
  height: 100%;
  background-color: #202020;
  margin: 0px;
}

th, td { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid;
  background-color: #000000;
  padding: 10px;
}

td.inner_b { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #000000;
  border: none;
  border-right: 1px solid;
  border-bottom: 1px solid #333333;
  padding: 10px;
  height: 100%;
}

td.inner { 
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #000000;
  border: none;
  border-bottom: 1px solid #333333;
  padding: 10px;
  height: 100%;
}

td.input { 
  border: 1px solid;
  padding: 2px;
  word-break: normal;
}

.center {
  text-align: center;
}

a:link {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

a:active {
  color: white;
  text-decoration: none;
  background-color: blue;
}

.blackOverlay {
  display:none;
  background:rgba(0,0,0,.6);
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
}

.popup {
  display:none;
  background:#ffffff;
  position:fixed;
  top:10%;
  left:50%;
  width:420px;
  height:420px;
  margin-left:-200px;
  z-index:10;
  border:10px solid #808080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;  
}

.closePopup {
  float:right;
  font-weight:bold;
  color:#ff0000;
  cursor:pointer;
}

img {
  display:block;
  max-width:100%;
  max-height:100%;
  margin-left: auto;
  margin-right: auto;
}