.grid_wrapper {
  display: grid;
  grid-template-columns: 10px 400px 1200px auto;
  padding: 5px;
  align-items: center;
  column-gap: 10px;
}

.grid_title {  
  padding: 10px;
  text-align: left;
}

.text_block {
  padding: 0px 5px;
  height: 92px;
  display: table-cell;
  vertical-align: bottom;
}

.block_text {
  padding: 5px;
  display: block;
  border: 1px dashed yellow;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
