.grid_wrapper {
  display: grid;
  grid-template-columns: auto 320px 900px auto;
  padding: 5px;
  align-items: start; 
  column-gap: 10px;
}

.grid_picker_wrapper {
  display: none;
  grid-template-columns: 40px 40px 40px 40px 40px;
}

.grid_picker_block {
  display: grid;
  background-color: #252525;
  grid-template-columns: 50% 50%;
  border-style: solid; 
  border-width: 1px;
  border-color: #303030;
}

.grid_picker_block_gray {
  display: grid;
  background-color: #303030;
  height: 40px;
}


.grid_picker_kana {
  display: grid;
  height: 20px;
  align-items: center; 
  text-align: center;
  font-size: 16px;
}

.grid_title {  
  padding: 10px;
  text-align: left;
  grid-column: 2 / span 2;
}

.grid_footer {  
  padding: 2 px;
  text-align: left;
  grid-column: 2 / span 2;
  font-size: 9px;
}

.grid_sidebar {  
  background-color: #303030;*
  padding: 10px;
  text-align: left;
}

.grid_main_wrapper { 
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main { 
  display: grid;
  grid-template-columns: 210px 80px auto; /* japanese - literal - definitions */
  background-color: #303030;
  align-items: stretch;
  word-break: keep-all;
}

.grid_defs {
  display: grid;
  grid-template-columns: 260px 260px auto; /* equivalent - meaning - examples */
  background-color: #303030;
} 

.grid_main_header_block { 
  background-color: #000000;
  padding: 10px;
  outline: 1px solid gray;
}

.grid_main_block { 
  background-color: #000000;
  padding: 10px;
  outline: 1px solid gray;
}

  
input.right {
  float: right;
  margin-right: 75px
}

input.transparent {
  background-color: transparent;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
}

