body {
  background-color: #303030;
  color: #d1d1d1;
  font-family: 'Lato', sans-serif;
  font-size: 12px;  
}

p, input {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

input[type=text] {
  background-color: #000000;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  padding: 5px 5px;
  color: #d1d1d1;
}

input[type=button]:active {            
  transform: translate(2px, 1px);
}

input[type=button] {
  background-color: #29abe0;
  color: white;
  padding: 4px 8px;
  margin: 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.center {
  text-align: center;
}

a:link {
  color: darkgray;
  text-decoration: none;
}

a:visited {
  color: darkgray;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

a:active {
  color: white;
  text-decoration: none;
  background-color: blue;
}

.blackOverlay {
  display: none;
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup {
  display: none;
  background: #555555;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 400px;
  height: 400px;
  z-index: 10;
  border: 10px solid #808080;
  color: #9999ff;
  font-size: 10px;  
  font-weight:normal;
  text-align: right;
  color:#8888ff;
}

.popupTitle {
  position: absolute;
  top: 5px;
  width: 100%;
  font-size: 24px;  
  font-weight:bold;
  text-align: center;
  color:#2222ff;
}

.popupSubTitle {
  position: absolute;
  top: 33px;
  width: 100%;
  font-size: 10px;
  text-align: center;
  color:#2222ff;
}

.popupAttrib {
  position: absolute;
  bottom: 7px;
  width: 100%;
  padding-right: 8px;
  box-sizing: border-box;
}

.popupContrib {
  position: absolute;
  top: 7px;
  width: 100%;
  padding-right: 8px;
  box-sizing: border-box;
}

input.popup_nav_left {
  float: left;
  position: relative;
  top: -236px;
  left: -70px;
  width: 49px;
  height: 73px;
  background: url(../img/img_prev.png);
}

input.popup_nav_right {
  float: right;
  position: relative;
  top: -236px;
  right: -70px;
  width: 49px;
  height: 73px;
  background: url(../img/img_next.png);
}

img {
  display: block;
  max-width: 100%;
  max-height:100%;
  margin-left: auto;
  margin-right: auto;
}

/* override Chrome's input resizing */
input, input:before, input:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.grid_wrapper {
  display: grid;
  grid-template-columns: 320px 980px;
  grid-template-rows: 105px 1fr;
  grid-template-areas:
    "grid_sidebar grid_header"
    "grid_sidebar grid_main";
  column-gap: 10px;
  width: 1320px;
  margin: auto;
  font-size: 16px;  
}

.grid_picker_wrapper {
  display: grid;
  /*grid-template-columns: 40px 40px 40px 40px 40px;*/
  grid-template-columns: 58px 58px 58px 58px 58px;
  padding: 5px 0px;
}

.grid_picker_block {
  display: grid;
  background-color: #252525;
  grid-template-columns: 50% 50%;  
  border: 2px solid #303030;
}

.grid_picker_block_gray {
  display: grid;
  background-color: #303030;
  height: 58px;
}


.grid_picker_kana {
  display: grid;
  height: 29px;
  text-align: center;  
  font-size: 20px;
}

.grid_title {
  grid-area: grid_header;
  margin-left: 15px;
}

.grid_footer {
  /* not currently used */
  padding: 2 px;
  text-align: left;
  grid-column: 2 / span 2;
  font-size: 9px;
}

.grid_sidebar {
  grid-area: grid_sidebar;
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main_wrapper { 
  grid-area: grid_main;
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main { 
  display: grid;
  grid-template-columns: 220px 90px auto; /* japanese - literal - definitions */
  background-color: #000000;
  align-items: stretch;
  word-break: keep-all;
}

.grid_defs {
  display: grid;
  grid-template-columns: 230px 270px auto; /* equivalent - meaning - examples */
} 

.grid_kana {
  padding-bottom: 5px;
}

.grid_kana:last-child {
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 1px dashed #303030;
}

.grid_main_header_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_main_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: start;
  padding: 5px;
  row-gap: 5px;
  outline: 1px solid gray;
  
}

.type_block {
  display: inline-block;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.update {
  border: 1px solid #808080;
  background-color: #404040;
  border-radius: 5px;
  /*font-size: 12px;*/
  font-style: italic;
  color: #999999;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.stat_block {
  padding-left: 50px;
  text-indent: -40px;
}

.stat_text {
  margin-bottom: -10px;
  font-size: 14px;
  font-weight:normal;
  text-align: left;
  color: white;
}

.update_text {
  margin-bottom: -5px; 
}

#search_input {
  width: 190px;
  margin-bottom: 3px;
}

.clear-button {
  position: relative;
  right: 25px;
  cursor: pointer;
}
  
input.copy_button {
  float: right;
  margin-right: 115px;
  background: url(../img/copy_icon.png);
  height: 24px;
}

input.transparent {
  background-color: transparent;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
}

p.notes {
  font-size: 14px;
  color: gray;
}

fieldset {
  border-collapse: collapse;
  background-color: #202020;
}