.grid_wrapper {
  display: grid;
  grid-template-columns: 320px 980px;
  grid-template-rows: 85px 1fr;
  grid-template-areas:
    "grid_sidebar grid_header"
    "grid_sidebar grid_main";
  column-gap: 10px;
  width: 1320px;
  margin: auto;
}

.grid_picker_wrapper {
  display: none;
  grid-template-columns: 40px 40px 40px 40px 40px;
  padding: 5px 0px;
}

.grid_picker_block {
  display: grid;
  background-color: #252525;
  grid-template-columns: 50% 50%;  
  border: 1px solid #303030;
}

.grid_picker_block_gray {
  display: grid;
  background-color: #303030;
  height: 40px;
}


.grid_picker_kana {
  display: grid;
  height: 20px;
  align-items: center; 
  text-align: center;
  font-size: 16px;
}

.grid_title {
  grid-area: grid_header;
  margin-left: 15px;
}

.grid_footer {  
  padding: 2 px;
  text-align: left;
  grid-column: 2 / span 2;
  font-size: 9px;
}

.grid_sidebar {
  grid-area: grid_sidebar;
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main_wrapper { 
  grid-area: grid_main;
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main { 
  display: grid;
  grid-template-columns: 220px 90px auto; /* japanese - literal - definitions */
  background-color: #000000;
  align-items: stretch;
  word-break: keep-all;
}

.grid_defs {
  display: grid;
  grid-template-columns: 230px 270px auto; /* equivalent - meaning - examples */
} 

.grid_kana {
  padding-bottom: 5px;
}

.grid_kana:last-child {
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 1px dashed #303030;
}

.grid_main_header_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_main_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_examples {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  row-gap: 5px;
  outline: 1px solid gray;
  
}

.type_block {
  display: inline-block;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.update {
  border: 1px solid #808080;
  background-color: #404040;
  border-radius: 5px;
  font-size: 12px;
  font-style: italic;
  color: #999999;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.popupTitle {
  word-spacing: 8px;
  letter-spacing: -1px;
}

.popuSubTitle {
  word-spacing: 8px;
  letter-spacing: -1px;
}

.stat_block {
  font-size: 10px;
  padding-left: 50px;
  text-indent: -40px;
}

.stat_text {
  margin-bottom: -10px; 
}

.update_text {
  margin-bottom: -5px; 
}

h1 {
  margin-bottom: 0px; 
}

h3 {
  margin-bottom: 0px; 
}
  
input.right {
  float: right;
  margin-right: 95px
}

#search_input {
  width: 210px;
  margin-bottom: 1px;
}

.clear-button {
  position: relative;
  right: 25px;
  cursor: pointer;
}

input.transparent {
  background-color: transparent;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
}