.grid_wrapper {
  display: grid;
  grid-template-columns: auto 320px 980px auto;
  padding: 5px;
  align-items: start; 
  column-gap: 10px; 
}

.grid_picker_wrapper {
  display: none;
  grid-template-columns: 40px 40px 40px 40px 40px;
  padding: 5px 0px;
}

.grid_picker_block {
  display: grid;
  background-color: #252525;
  grid-template-columns: 50% 50%;  
  border: 1px solid #303030;
}

.grid_picker_block_gray {
  display: grid;
  background-color: #303030;
  height: 40px;
}


.grid_picker_kana {
  display: grid;
  height: 20px;
  align-items: center; 
  text-align: center;
  font-size: 16px;
}

.grid_title {  
  padding: 10px;
  text-align: left;
  grid-column: 2 / span 2;
}

.grid_footer {  
  padding: 2 px;
  text-align: left;
  grid-column: 2 / span 2;
  font-size: 9px;
}

.grid_sidebar {
  position: relative;
  background-color: #303030;
  padding: 10px;
  text-align: left;
}

.grid_main_wrapper { 
  background-color: #303030;
  padding: 10px;
  text-align: left;
  /*outline: 1px dashed gray;*/
}

.grid_main { 
  display: grid;
  grid-template-columns: 230px 100px auto; /* japanese - literal - definitions */
  background-color: #000000;
  align-items: stretch;
  word-break: keep-all;
  /*outline: 1px dashed red;*/
}

.grid_defs {
  display: grid;
  grid-template-columns: 240px 240px auto; /* equivalent - meaning - type - examples */
  /*outline: 1px dashed blue;*/
} 

.grid_kana {
  padding-bottom: 5px;
}

.grid_kana:last-child {
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 1px dashed #303030;
}

.grid_main_header_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_main_block { 
  padding: 10px;
  outline: 1px solid gray;
}

.grid_examples {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 5px;
  row-gap: 5px;
  outline: 1px solid gray;
}

.type_block_giongo {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #af4b4b;
  background-color: #150907;
  color: #af4b4b;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.type_block_giseigo {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #c9b04a;
  background-color: #171407;
  color: #c9b04a;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.type_block_gitaigo {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #7daaca;
  background-color: #0f1315;
  color: #7daaca;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.type_block_giyogo {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #5b8b5b;
  background-color: #0c1009;
  color: #5b8b5b;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.type_block_gijogo {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #7b5b7b;
  background-color: #100b0d;
  color: #7b5b7b;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.type_block_symbolic {
  display: inline-block;
  max-width: 100px;
  border: 1px solid #ffffff;
  background-color: #202020;
  color: #ffffff;
  border-radius: 10px;
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.notice {
  border: 1px solid #B06060;
  background-color: #503030;
  border-radius: 5px;
  font-size: 12px;
  font-style: italic;
  color: white;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.input-container {
  position: relative;
}
  
input.right {
  float: right;
  margin-right: 75px

}#search_input {
  width: 220px;
  padding-right: 25px;
}

.clear-button {
  position: absolute;
  right: 100px;
  top: 58px;
  cursor: pointer;
}

input.transparent {
  background-color: transparent;
  padding: 4px 4px;
  border: none;
  cursor: pointer;
}